body {
  display: flex;
  background-color: #000;
}

#confetti {
  background: #000;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.wrapper {
  background: #000;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.canvasClass {
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: auto;
  z-index: 200;
  display: flex;
  position: absolute;
}

@font-face {
  font-family: customfont;
  src: url(./fonts/Frozenflare.otf);
}

h2 {
  font-family: customfont;
}
h3 {
  font-family: customfont;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 300px;
  height: 500px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text h2 {
  color: white;
}

.details {
  display: flex;
  justify-content: center;
}

.details li {
  color: white;
  /* z-index: -1; */
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  line-height: 180%;
}

.kiddo {
  display: flex;
  justify-content: center;
}

.location {
  color: white;
}

#rsvpButton {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(101, 205, 240);
  color: red;
  font-weight: bold;
}
